.carousel {
  position: relative;
  width: 80%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0.9rem;
  display: flex;
}

.carouselInner {
  display: flex;
  transition: transform 0.5s ease-in-out;

}

.carouselItem {
  min-width: 100%;
}

.carouselItem img {
  width: 100%;
  display: block;
}

.carouselControl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carouselControl:first-of-type {
  left: 10px;
}

.carouselControl:last-of-type {
  right: 10px;
}

@media(max-width: 1200px) {
  .carousel {
    width: 90vw;

  }
}

@media(max-width: 850px) {
  .carousel {
    width: 100vw;
    margin-top: 0;
    min-width: 300px;
  }

  .carouselControl {
    padding: 4px;
  }
}